* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background: linear-gradient(
    120deg,
    #7a63d2,
    #a387dd,
    #d3a4c9,
    #f0c3b2
  );
  color: white;
  overflow-x: hidden;
}

nav#home {
   width: 100%; 
   height: 10vh;  
}

.nav-container {
    width: 100%; 
    height: 100%;  
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
}

.nav-container .full-name-header {
    font-family: "Edu NSW ACT Cursive", cursive;
    font-size: 24px; 
    font-weight: 600;
    margin-left: 1.5rem !important;
}

.nav-container .links {
    pointer-events: auto;
    font-weight: bold; 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-evenly; 
    column-gap: 12px; 
    list-style: none; 
}

.nav-container .links .link a {
    color: rgb(255, 255, 255); 
    font-weight: 700;
    padding: 6px 12px;
    transition: color 0.3s;
}

.nav-container .links .link a:hover {
    color: #8e8e90; 
}

.section {
    width: 100%;
    min-height: 90vh;
}

.intro-container {
    display: flex;                
    justify-content: flex-start; 
    align-items: center;          
    padding: 60px 300px;  
    flex-wrap: wrap;    
}

.intro-container .content {
    flex: 50%; 
    color: white; 
    max-width: 500px; 
}

.intro-container .image {
    width: 100%;
    max-width: 200px;   
    height: auto;       
    border-radius: 50%; 
    overflow: hidden;
}

.about, .experience, 
.education, .projects, 
.skills, .code {
    width: 100%;
    /* min-height: 90vh; */
    padding: 20px 300px;
    /* font-size: 16px;  */
}

.title h2 {
    position: relative;           /* required for pseudo-element positioning */
    display: inline-block;        /* shrink to content width */
    padding-bottom: 1px;          /* space between text and line */
    color: white;                 /* or your preferred text color */
    margin-bottom: 10px; 
}

.title h2::after {
    content: "";                  /* pseudo-element for the line */
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;                  /* thickness of the underline */
    width: 100%;
    background-color: #8e8e90;    /* change to your desired color */
    border-radius: 2px;           /* optional: rounded edges */
}

.experience-details, 
.education-details {
    /* margin-bottom: 40px; */
    padding: 12px 0;                 /* space around each item */
    border-bottom: 1px solid rgba(142, 142, 144, 0.5); /* thin light line */
}

/* Remove border for last experience-details */
.experience-details:last-child,
.education-details:last-child {
    border-bottom: none;
}

.experience-details img, 
.education-details img {
    margin-left: -6px; 
}

.experience-header, 
.education-header {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 1rem;
    padding: .2rem 1rem; 
    border-radius: 8px; 

    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(8px);
}

.experience-role, 
.education-main {
    display: flex; 
    width: 100%; 
    justify-content: space-between;
}

.certificate {
    color: #6b6b6e; 
}

.certificate:hover {
    color: white; 
    opacity: .7; 
    transition: all 0.9s ease;
    transform: scale(1.01); 
}

.project-cards {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: flex-start; 
    column-gap: 2rem;
    row-gap: 1rem; 
}

.project-card {
    width: 320px;
    border-radius: 16px;
    overflow: hidden;
    background: #6b6b6e;
    opacity: .8;
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    transition: transform 0.3s ease;
}

.project-card:hover {
   opacity: 1;
}

.project-thumbnail {
  height: 200px;
  background-size: cover;
  background-position: center;
  transition: transform 0.4s ease;
}

.project-card:hover 
.project-thumbnail {
  transform: scale(1.08);
}

#social-thumbnail {
  background-size: contain; 
}

.project-info {
  padding: 14px 20px;
}

.project-info h4 {
  margin: 0;
  color: white;
}

.project-info p {
  color: #aaa;
  margin: 8px 0 16px;
}

.skills-details {
    display: flex; 
    column-gap: 2rem;
    font-weight: 500; 
}

.skills-details ul {  
    display: inline-flex; 
    flex-direction: column;
    list-style: none;
    row-gap: .6rem; 
}

.skills-details ul li {
    padding: .4rem; 
    text-align: center; 
    border-radius: 10%;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(8px);
}


section > .content {
    background: rgba(255, 255, 255, 0.08);   /* subtle glass background */
    backdrop-filter: blur(8px);              /* frosted glass effect */
    -webkit-backdrop-filter: blur(8px);      /* safari support */

    border-radius: 20px;
    padding: 30px;

    box-shadow: 
        0 1px 10px rgba(0, 0, 0, 0.1),     /* main shadow */
        0 1px 4px rgba(0, 0, 0, 0.1);        /* soft depth */

    border: 0.1px solid rgba(255, 255, 255, 0.15);
    margin-top: -25px;
}

.code pre[class*="language-"] {
  color: #4a4a4a !important; 
  background: none; 
  font-size: 0.75rem;
  line-height: 1.2rem;
  padding: 0; 
  margin: 0;
  width: 100%;
  max-width: 100%;
}

.code pre[class*="language-"] .token.comment { 
    color: #706f6f !important;
}
.code pre[class*="language-"] .token.keyword { 
    color: #9a4646 !important;
}
.code pre[class*="language-"] .token.function { 
    color: #d3764e !important;
}
.code pre[class*="language-"] .token.symbol {
  color: #4a4a4a !important; 
}


/* Sidebar */
.sidebar {
  position: fixed;
  left: 25px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 999;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 5%; 
  height: 68vh; */
  width: 70px; 
  height: 65vh; 

  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(8px);
  padding: 12px 8px;
  border-radius: 20px;
}

.sidebar ul {
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.4rem; 
  list-style: none;
}

.sidebar-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;

  border-radius: 12px;
  opacity: 0.5;
  transition: all 0.3s ease;
}

.sidebar-link img {
  width: 40px;
  height: 40px;
}

.sidebar-link.active,
.sidebar-link:hover {
  background: rgba(255, 255, 255, 0.25);
  opacity: 1;
  transform: scale(1.1);
}


/* Footer */
.footer {
  width: 100%;
  margin-top: 60px;
  padding: 20px 50px;

  /* background: rgba(255, 255, 255, 0.1);*/
  backdrop-filter: blur(30px);
  background: rgba(142, 142, 144, .4); 
  -webkit-backdrop-filter: blur(8px);

  border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.footer-content {
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.footer-left {
  display: flex;
  gap: .5rem;
  list-style: none;
}

.footer-left a {
  color: white;
  font-weight: 500;
  transition: 0.3s ease;
}

/* .footer-left a:hover {
  color: #ccccd5;
} */

.footer-center p {
  font-size: 0.90rem;
  font-weight: 500;
  opacity: 0.7;
  text-align: center;
}





@media (min-width: 769px) and (max-width: 1024px) {

  body {
    font-size: 12px;
  }

  div .content {
    width: 70%; 
    margin: 0 auto; 
  }

  .sidebar {
    width: 2.5rem;
    height: 70vh;
    left: 1rem;
  }

  .sidebar-link {
    width: 38px;
    height: 38px;
  }

  .sidebar-link img {
    width: 30px;
    height: 30px;
  }

  .sidebar ul {
    gap: 1.2rem;
  }

  .nav-container {
    justify-content: space-between !important; 
  }

  .nav-container .full-name-header {
    font-family: "Edu NSW ACT Cursive", cursive;
    font-size: 20px; 
    font-weight: 500;
    margin-left: 2rem !important;
}

  .nav-container .links {
    pointer-events: auto;
    font-weight: bold; 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-evenly; 
    column-gap: 12px; 
    list-style: none; 
  }

  .nav-container .links .link a {
    color: rgb(255, 255, 255); 
    font-weight: 700;
    padding: 6px 12px;
    transition: color 0.3s;
  }

  .nav-container .links .link a:hover {
    color: #8e8e90; 
  }

  section .intro-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 4rem !important; 
  }

  .intro-container .content {
    display: none; 
  }

  .intro-container .image img {
    max-width: 100%;
    height: auto; 
  }

  .intro-container, .about, 
  .experience, .education, 
  .projects, .skills, .code {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
 }

  .project-cards {
    flex-direction: column; 
    row-gap: 1rem; 
  }

  .project-card {
    /* width: 60%; */
    max-width: 320px; 
  }

  .skills-details {
    flex-direction: column;
    gap: .6rem;
  }

  .skills-details ul li {
    border-radius: 2%; 
  }

  .footer {
    padding: 15px 20px;
    text-align: center;
    height: auto; 
  }

  .footer p {
    font-size: 10px !important;
  }

  .footer-content {
    flex-direction: column;
    gap: 1rem;
  }
    
} 

@media (min-width: 426px) and (max-width: 768px) {

  body {
    font-size: 12px;
  }

  div .content {
    width: 80%; 
    margin-left: 4rem; 
  }

  .sidebar {
    width: 2.5rem;
    height: 50vh;
    left: 1rem;
  }

  .sidebar-link {
    width: 38px;
    height: 38px;
  }

  .sidebar-link img {
    width: 30px;
    height: 30px;
  }

  .sidebar ul {
    gap: 1.2rem;
  }

  .nav-container { 
    justify-content: center;
    align-items: center;
  }

  .nav-container .links {
    display: none; 
  }

  .nav-container .full-name-header {
    margin-left: 0 !important; 
  }

  section .intro-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 4rem !important; 
  }

  .intro-container .content {
    display: none; 
  }

  .intro-container .image img {
    max-width: 100%;
    height: auto; 
  }

  .intro-container, .about, 
  .experience, .education, 
  .projects, .skills, .code {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
 }

  .project-cards {
    flex-direction: column; 
    row-gap: 1rem; 
  }

  .project-card {
    width: 60%;
  }

  .skills-details {
    flex-direction: column;
    gap: .6rem;
  }

  .skills-details ul li {
    border-radius: 2%; 
  }

  .footer {
    padding: 15px 20px;
    text-align: center;
    height: auto; 
  }

  .footer p {
    font-size: 10px !important;
  }

  .footer-content {
    flex-direction: column;
    gap: 1rem;
  }
    
} 

@media screen and (max-width: 425px) {

  body {
    font-size: 12px;
  }

  .sidebar {
    display: none; 
  }

  .nav-container { 
    justify-content: center;
    align-items: center;
  }

  .nav-container .links {
    display: none; 
  }

  .nav-container .full-name-header {
    margin-left: 0 !important; 
  }

  section .intro-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .intro-container .content {
    display: none; 
  }

  .intro-container .image img {
    max-width: 100%;
    height: auto; 
  }

  .intro-container, .about, 
  .experience, .education, 
  .projects, .skills, .code {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
 }

  .project-cards {
    flex-direction: column; 
    /* column-gap: 2rem; */
    row-gap: 1rem; 
  }

  .project-card {
    width: 100%;
    /* column-gap: .1rem; */
  }

  .skills-details {
    flex-direction: column;
    gap: .6rem;
  }

  .skills-details ul li {
    border-radius: 2%; 
  }

  .footer {
    padding: 15px 20px;
    text-align: center;
    height: auto; 
  }

  .footer p {
    font-size: 10px !important;
  }

  .footer-content {
    flex-direction: column;
    gap: 1rem;
  }
}


/* @media (min-width: 426px) and (max-width: 768px) {

  body {
    font-size: 12px;
  }

  div .content {
    width: 300px; 
    margin-left: 4rem; 
  }

  .sidebar {
    width: 2.5rem;
    height: 70vh;
    left: 1rem;
  }

  .sidebar-link {
    width: 38px;
    height: 38px;
  }

  .sidebar-link img {
    width: 30px;
    height: 30px;
  }

  .sidebar ul {
    gap: 1.2rem;
  }

  .nav-container { 
    justify-content: center;
    align-items: center;
  }

  .nav-container .links {
    display: none; 
  }

  .nav-container .full-name-header {
    margin-left: 0 !important; 
  }

  section .intro-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 4rem !important; 
  }

  .intro-container .content {
    display: none; 
  }

  .intro-container .image img {
    max-width: 100%;
    height: auto; 
  }

  .intro-container, .about, 
  .experience, .education, 
  .projects, .skills, .code {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
 }

  .project-cards {
    flex-direction: column; 
    row-gap: 1rem; 
  }

  .project-card {
    width: 100%;
  }

  .skills-details {
    flex-direction: column;
    gap: .6rem;
  }

  .skills-details ul li {
    border-radius: 2%; 
  }

  .footer {
    padding: 15px 20px;
    text-align: center;
    height: auto; 
  }

  .footer p {
    font-size: 10px !important;
  }

  .footer-content {
    flex-direction: column;
    gap: 1rem;
  }
    
} 

@media screen and (max-width: 425px) {

  body {
    font-size: 12px;
  }

  .sidebar {
    display: none; 
  }

  .nav-container { 
    justify-content: center;
    align-items: center;
  }

  .nav-container .links {
    display: none; 
  }

  .nav-container .full-name-header {
    margin-left: 0 !important; 
  }

  section .intro-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .intro-container .content {
    display: none; 
  }

  .intro-container .image img {
    max-width: 100%;
    height: auto; 
  }

  .intro-container, .about, 
  .experience, .education, 
  .projects, .skills, .code {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
 }

  .project-cards {
    flex-direction: column; 
    /* column-gap: 2rem; */
    row-gap: 1rem; 
  }

  .project-card {
    width: 100%;
    /* column-gap: .1rem; */
  }

  .skills-details {
    flex-direction: column;
    gap: .6rem;
  }

  .skills-details ul li {
    border-radius: 2%; 
  }

  .footer {
    padding: 15px 20px;
    text-align: center;
    height: auto; 
  }

  .footer p {
    font-size: 10px !important;
  }

  .footer-content {
    flex-direction: column;
    gap: 1rem;
  }

} */

 
