* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    background-color: white; 
    overflow-x: hidden;
}

nav {
   width: 100%; 
   height: 10vh;  
}

.nav-container {
    width: 100%; 
    height: 100%;  
    display: flex;
    padding: 0 20px;
    justify-content: right;
    align-items: center;
}

.nav-container .links {
    pointer-events: auto;
    color: rgb(32, 32, 159);
    font-weight: bold; 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-evenly; 
    column-gap: 12px; 
}

.nav-container .links .link a {
    color: rgb(44, 44, 216);       
    font-weight: 700;
    font-size: 16px;
    padding: 6px 12px;
    transition: color 0.3s;
}

.nav-container .links .link a:hover {
    color: rgba(44, 44, 216, 0.6); 
}

.menu-btn {
    cursor: pointer; 
    position: absolute;
    right: 15px; 
    top: 10px; 
    color: white; 
    opacity: 0;  
}

.dropdown {
    display: none;
    position: absolute;
    top: 0vh;
    left: 0;
    width: 100%;
    background: rgba(44, 44, 216, 0.6);
    backdrop-filter: blur(4px);
    z-index: 200;
}

.dropdown.active {
    display: block;
}


/* mobile menu */
@media screen and (max-width: 768px) {

    /* hide normal navbar links */
    .nav-container > .links {
        display: none;
    }

    /* show hamburger */
    .menu-btn {
        opacity: 1;
        position: absolute;
        right: 15px;
        top: 10px;
        cursor: pointer;
        z-index: 100;
    }

    .close-btn {
        opacity: 1;
        position: absolute;
        right: 15px;
        top: 10px;
        cursor: pointer;
        z-index: 300;
    }

    /* dropdown layout */
    .dropdown .links {
        display: flex;
        flex-direction: column;
    }

    .dropdown .links a {
        color: white;
        padding: 16px;
        text-align: center;
    }

    .dropdown .links a:hover {
        background: rgba(255,255,255,0.1);
    }
}




