* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background: linear-gradient(
    120deg,
    #7a63d2,
    #a387dd,
    #d3a4c9,
    #f0c3b2
  );
  color: white;
  overflow-x: hidden;
}

nav {
   width: 100%; 
   height: 10vh;  
}

.nav-container {
    width: 100%; 
    height: 100%;  
    display: flex;
    padding: 0 20px;
    justify-content: right;
    align-items: center;
}

.nav-container .links {
    pointer-events: auto;
    /* color: rgb(32, 32, 159); */
    /* color: rgb(255, 255, 255);  */
    font-weight: bold; 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-evenly; 
    column-gap: 12px; 
}

.nav-container .links .link a {
    /* color: rgb(44, 44, 216);        */
    color: rgb(255, 255, 255); 
    font-weight: 700;
    padding: 6px 12px;
    transition: color 0.3s;
}

.nav-container .links .link a:hover {
    color: #8e8e90; 
}

.menu-btn {
    cursor: pointer; 
    position: absolute;
    right: 15px; 
    top: 10px; 
    color: white; 
    opacity: 0;  
}

.dropdown {
    display: none;
    position: absolute;
    top: 0vh;
    left: 0;
    width: 100%;
    background: rgba(44, 44, 216, 0.6);
    backdrop-filter: blur(4px);
    z-index: 200;
}

.dropdown.active {
    display: block;
}

.section {
    width: 100%;
    min-height: 90vh;
}

.section .main-container {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    /* padding-left: 100px;  */
}

.main-container {
    display: flex;                
    justify-content: flex-start; 
    align-items: center;          
    padding: 60px 300px;  
    flex-wrap: wrap;      
}

.main-container .content {
    flex: 50%; 
    color: white; 
    max-width: 500px; 
}

.main-container .image {
    width: 100%;
    max-width: 200px;   
    height: auto;       
    border-radius: 50%; 
    overflow: hidden;
}

.about, .experience, 
.code {
    width: 100%;
    /* min-height: 90vh; */
    padding: 20px 300px;
    /* font-size: 16px;  */
}

.title h2 {
    position: relative;           /* required for pseudo-element positioning */
    display: inline-block;        /* shrink to content width */
    padding-bottom: 1px;          /* space between text and line */
    color: white;                 /* or your preferred text color */
    margin-bottom: 10px; 
}

.title h2::after {
    content: "";                  /* pseudo-element for the line */
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;                  /* thickness of the underline */
    width: 100%;
    background-color: #8e8e90;    /* change to your desired color */
    border-radius: 2px;           /* optional: rounded edges */
}

.experience-details {
    /* margin-bottom: 40px; */
    padding: 15px 0;                 /* space around each item */
    border-bottom: 1px solid rgba(142, 142, 144, 0.5); /* thin light line */
}

/* Remove border for last experience-details */
.experience-details:last-child {
    border-bottom: none;
}


.experience-details img {
    margin-left: -6px; 
}

.experience-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10px;
}

.experience-role {
    display: flex; 
    width: 100%; 
    justify-content: space-between;
}

/* section .content {
    border: 0.1px solid grey; 
    border-radius: 20px;
    padding: 20px;  
    
} */

section > .content {
    background: rgba(255, 255, 255, 0.08);   /* subtle glass background */
    backdrop-filter: blur(8px);              /* frosted glass effect */
    -webkit-backdrop-filter: blur(8px);      /* safari support */

    border-radius: 20px;
    padding: 30px;

    box-shadow: 
        0 1px 10px rgba(0, 0, 0, 0.1),     /* main shadow */
        0 1px 4px rgba(0, 0, 0, 0.1);        /* soft depth */

    border: 0.1px solid rgba(255, 255, 255, 0.15);
    margin-top: -25px;
}


.code pre[class*="language-"] {
  color: #4a4a4a !important;  
  background: grey; 
  /* padding: 1rem; */
  border-radius: 8px;
  overflow-x: auto;
  font-size: 0.8rem;
  line-height: 1rem;

  padding-left: 0 !important;  
  text-align: left !important; 
  margin-top: -1rem !important; 
  margin-left: -3.8rem !important;
  background: none;
  color: #4a4a4a !important;
}


/* target tokens that might remain white */
.code pre[class*="language-"] .token.comment { 
    color: #706f6f !important;
}
.code pre[class*="language-"] .token.keyword { 
    color: #9a4646 !important;
}
.code pre[class*="language-"] .token.function { 
    color: #d3764e !important;
}
.code pre[class*="language-"] .token.symbol {
  color: #4a4a4a !important; 
}
/* .code pre[class*="language-"] .token.plain,
.code pre[class*="language-"] .token.punctuation,
.code pre[class*="language-"] .token.property, */


/* Sidebar */
.sidebar {
  position: fixed;
  left: 25px;
  top: 55%;
  transform: translateY(-70%);
  z-index: 999;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 5%; 
  height: 68vh;

  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(8px);
  padding: 12px 8px;
  border-radius: 20px;
}

.sidebar ul {
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.4rem; 
  list-style: none;
}

.sidebar-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;

  border-radius: 12px;
  opacity: 0.5;
  transition: all 0.3s ease;
}

.sidebar-link img {
  width: 40px;
  height: 40px;
}

.sidebar-link.active,
.sidebar-link:hover {
  background: rgba(255, 255, 255, 0.25);
  opacity: 1;
  transform: scale(1.1);
}


/* Footer */
.footer {
  width: 100%;
  margin-top: 60px;
  padding: 50px 300px;

  /* background: rgba(255, 255, 255, 0.1);*/
  backdrop-filter: blur(30px);
  background: rgba(142, 142, 144, .4); 
  -webkit-backdrop-filter: blur(8px);

  border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.footer-content {
  display: flex;
  justify-content:center; 
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
}

.footer-left {
  display: flex;
  gap: .5rem;
}

.footer-left a {
  color: white;
  font-weight: 500;
  transition: 0.3s ease;
}

.footer-left a:hover {
  color: #8e8e90;
}

.footer-center p {
  font-size: 0.90rem;
  font-weight: 500;
  opacity: 0.7;
}





/* mobile menu */
@media screen and (max-width: 768px) {

    .main-container {
        flex-direction: column;
    }

    /* hide normal navbar links */
    .nav-container > .links {
        display: none;
    }

    /* show hamburger */
    .menu-btn {
        opacity: 1;
        position: absolute;
        right: 15px;
        top: 10px;
        cursor: pointer;
        z-index: 100;
    }

    .close-btn {
        opacity: 1;
        position: absolute;
        right: 15px;
        top: 10px;
        cursor: pointer;
        z-index: 300;
    }

    /* dropdown layout */
    .dropdown .links {
        display: flex;
        flex-direction: column;
    }

    .dropdown .links a {
        color: white;
        padding: 16px;
        text-align: center;
    }

    .dropdown .links a:hover {
        background: rgba(255,255,255,0.1);
    }

    .main-container {
        padding: 20px 25px; 
    }

    .main-container h1, 
    .main-container .typewriter {
        font-size: 24px;
    }
}
